__pycache__
*~
/graphqlview.py
/render_graphiql.py
.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
*.iml
*faster_rcnn_resnet101_coco_11_06_2017/
*tl_inference
*checkpoint
*.record
*.ckpt*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
