click==6.7
cycler==0.10.0
decorator==4.1.2
Flask==0.12.2
Flask-Cors==3.0.3
Flask-GraphQL==1.4.1
graphql-core==1.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
networkx==2.0
olefile==0.44
Werkzeug==0.12.2
